/* BookingForm.css */

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
    color: #333333;
    margin: 0;
    padding: 0;
  }
  
  /* Form Styles */
  .booking-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 24px;
    text-align: center;
    color: #003B46;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 2px;
    color: #333333;
  }
  
  input, select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  input:focus, select:focus {
    border-color: #F4D35E;
  }
  
  .submit-button {
    background-color: #E27D60;
    color: #ffffff;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #f38b71;
  }
  